<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Serviteca Bucaramanga</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div id="container-elipses">
        <div id="elipse-top-right"></div>
        <div id="elipse-center-right"></div>
        <div id="elipse-center-down"></div>
        <div id="elipse-big-one"></div>
        <div id="elipse-top-left"></div>

        <section class="formModal">
            <div class="title">
                <h6>¡Bienvenido de vuelta!</h6>
                <p>Por favor ingresa tus datos</p>
            </div>
            <form action="">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" placeholder="Ingresa tu correo electrónico">
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="Ingresa tu contraseña">
                </div>
                <div class="input-group">
                    <button type="submit" id="submit">Continuar</button>
                </div>
            </form>
        </section>

    </div>
</body>
</html>